.app{
  display: grid;
  justify-content: center;
  align-items: center;
}

.app-headers{
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

.posts {
  border-radius: 6px;
  background: #f8f8f8;
  box-shadow: 0px 30px 60px rgba(25, 22, 36, 0.2);
  width: 60vw;
  padding: 15px;
  margin-bottom: 25px; 
  color: #000;
  border: none;
  padding: 28px;
}

.comments{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.comments:hover{
  cursor: pointer;
}

.comment {
  border-bottom: 1px solid #d7dce0;
}

.comment:last-child{
  border-bottom: none;
}

.comment-name{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.comment-email{
  color: #777;
  font-size: 12px;
  margin-top: 0;
}

.router-btn{
  width: 120px;
  font-family: 'Inter';
  border-radius: 4px;
  background: #5e4bce;
  border: none;
  color: white;
  padding: 8px 28px;
  font-size: 16px;
}

.router-btn:hover{
  cursor: pointer;
}